# Mini-projet n° 1 – Qui a peint ce tableau ?

In [1]:
import PIL
from PIL import Image
import os, sys

import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import torch, torchvision
from torch.utils.data import DataLoader
from torchvision import datasets, transforms

from sklearn.model_selection import train_test_split

In [2]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

cuda

### Loading datas

In [3]:
data_path = '../../data/art-challenge/'
artists = pd.read_csv(data_path+'artists.csv')

images_filenames = os.listdir(data_path + "images_lq/")

list_name = []

for filename in images_filenames:
    parts = filename.split('_')
    if len(parts) >2:
        name_surname = f"{parts[0]} {parts[1]}"
    elif len(parts) == 2:  # "Name_xxx" format
        name_surname = parts[0]  # Only Name
    list_name.append(name_surname)


total_df = pd.DataFrame({
    'filename': images_filenames,  # List of names of files
    'artist': list_name            # List of artists for each painting
})

In [4]:
artists.head()

,id,name,years,genre,nationality,bio,wikipedia,paintings
0,0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88
2,2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,Diego María de la Concepción Juan Nepomuceno E...,http://en.wikipedia.org/wiki/Diego_Rivera,70
3,3,Claude Monet,1840 - 1926,Impressionism,French,Oscar-Claude Monet (; French: [klod mɔnɛ]; 14 ...,http://en.wikipedia.org/wiki/Claude_Monet,73
4,4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,René François Ghislain Magritte (French: [ʁəne...,http://en.wikipedia.org/wiki/René_Magritte,194

In [5]:
total_df

                    filename          artist
0       Albrecht_Dürer_1.jpg  Albrecht Dürer
1      Albrecht_Dürer_10.jpg  Albrecht Dürer
2     Albrecht_Dürer_100.jpg  Albrecht Dürer
3     Albrecht_Dürer_101.jpg  Albrecht Dürer
4     Albrecht_Dürer_102.jpg  Albrecht Dürer
...                      ...             ...
8350   William_Turner_65.jpg  William Turner
8351   William_Turner_66.jpg  William Turner
8352    William_Turner_7.jpg  William Turner
8353    William_Turner_8.jpg  William Turner
8354    William_Turner_9.jpg  William Turner

[8355 rows x 2 columns]

In [6]:
IMAGE_SIZE = 64
DATASET_SIZE = len(images_filenames)


def load_image_as_rgb_matrices(image_name):
    
    image_path = os.path.join('../../data/art-challenge/images_lq/', image_name)
    
    img = Image.open(image_path)
    img = img.resize((IMAGE_SIZE,IMAGE_SIZE))
    
    img = img.convert('RGB')
    img_array = np.array(img)
    return img_array


x = np.zeros((DATASET_SIZE,IMAGE_SIZE,IMAGE_SIZE, 3))
for i in range(DATASET_SIZE):
    x[i] = load_image_as_rgb_matrices(images_filenames[0])

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, total_df['artist'], test_size = 0.15, random_state = 42)

x_train, x_test = x_train/255, x_test/255

In [8]:
import os

In [14]:
transform = transforms.Compose([
    transforms.Resize((150, 150)),  # Resize to 150x150
    transforms.ToTensor(),  # Convert image to PyTorch tensor
])
print(os.getcwd())
gc="../../data/art-challenge/images_hq"
dataset = datasets.ImageFolder(root=gc, transform=transform)

/home/cornuejouls/Documents/5GMM/HDDL/High-Dimensional-Deep-Learning/PROJET/hddl_project/project1

In [16]:
dataset

Dataset ImageFolder
    Number of datapoints: 8447
    Root location: ../../data/art-challenge/images_hq
    StandardTransform
Transform: Compose(
               Resize(size=(150, 150), interpolation=bilinear, max_size=None, antialias=True)
               ToTensor()
           )

In [15]:
sorted(entry.name for entry in os.scandir(gc) if entry.is_dir())

['Albrecht_Dürer',
 'Alfred_Sisley',
 'Amedeo_Modigliani',
 'Andrei_Rublev',
 'Andy_Warhol',
 'Camille_Pissarro',
 'Caravaggio',
 'Claude_Monet',
 'Diego_Rivera',
 'Diego_Velazquez',
 'Edgar_Degas',
 'Edouard_Manet',
 'Edvard_Munch',
 'El_Greco',
 'Eugene_Delacroix',
 'Francisco_Goya',
 'Frida_Kahlo',
 'Georges_Seurat',
 'Giotto_di_Bondone',
 'Gustav_Klimt',
 'Gustave_Courbet',
 'Henri_Matisse',
 'Henri_Rousseau',
 'Henri_de_Toulouse-Lautrec',
 'Hieronymus_Bosch',
 'Jackson_Pollock',
 'Jan_van_Eyck',
 'Joan_Miro',
 'Kazimir_Malevich',
 'Leonardo_da_Vinci',
 'Marc_Chagall',
 'Michelangelo',
 'Mikhail_Vrubel',
 'Pablo_Picasso',
 'Paul_Cezanne',
 'Paul_Gauguin',
 'Paul_Klee',
 'Peter_Paul_Rubens',
 'Pierre-Auguste_Renoir',
 'Piet_Mondrian',
 'Pieter_Bruegel',
 'Raphael',
 'Rembrandt',
 'Rene_Magritte',
 'Salvador_Dali',
 'Sandro_Botticelli',
 'Titian',
 'Vasiliy_Kandinskiy',
 'Vincent_van_Gogh',
 'William_Turner']